#-----
# VELUGA Post-Processor config
#-----
skip_bprop = 0
skip_confrac = 0
skip_gasprop = 0

#-----
# Paths
#-----
dir_raw     = /data83/NewCluster/hdf/
dir_catalog = /data100/jinsu/NC/VELOCIraptor

#-----
# halo (h) or galaxy (g)
#-----
horg = g

#-----
# RAMSES output format: 0 = old Fortran binary, 1 = new HDF5
#-----
newramses = 1

#-----
# Snapshot range
#-----
snapi = 30
snapf = 30
snapd = 1

#-----
# Columns to read from VR properties file (comma-separated)
# Leave empty to read all columns
#-----
column_list = ID, ID_mbp, hostHaloID, numSubStruct, Structuretype, Mvir, Mass_tot, Mass_FOF, Mass_200mean, Efrac, Mass_200crit, Rvir, R_size, R_200mean, R_200crit, R_HalfMass, R_HalfMass_200mean, R_HalfMass_200crit, Rmax, Xc, Yc, Zc, VXc, VYc, VZc, Lx, Ly, Lz, sigV, Vmax, npart

flux_list = NUV, u, g, r, i, z

#-----
# Properties related
#-----
sfr_r = -1, 0.1, 1, -1, 0.1, 1, -1, 0.1, 1, -1, 0.1, 1, -1, 0.1, 1
sfr_t = 0.01, 0.01, 0.01, 0.05, 0.05, 0.05, 0.10, 0.10, 0.10, 0.50, 0.50, 0.50, 1.00, 1.00, 1.00
mag_r = -1, 0.1, 1.
pp_clump_mfrac = 0.5
conf_r = 1, 3
neff = 4096
gas_r = 1, 2, 3
grav_r = 5.0